In [10]:
import pandas as pd
import sqlite3
from sqlite3 import Error
conn = sqlite3.connect('../FifaApp/db/WorldCup.sqlite')
c = conn.cursor()

# Load Games
games = "FinalGamesByYear.csv"
games = pd.read_csv(games)
games.to_sql('FinalGamesByYear', conn, if_exists = "replace")

#load Players
players = "TopPlayersByCountry.csv"
players = pd.read_csv(players)
players.to_sql('TopPlayersByCountry', conn, if_exists = "replace")

#teams
teams = "TopTeamsByYear.csv"
teams = pd.read_csv(teams)
teams.to_sql('TopTeamsByYear', conn, if_exists = "replace")

#Results
Results = "ResultsByCountry.csv"
Results = pd.read_csv(Results, encoding="ISO-8859-1")
Results.to_sql('ResultsByCountry', conn, if_exists = "replace")

#Lookup
Lookup = "YearCountry.csv"
Lookup = pd.read_csv(Lookup, encoding="ISO-8859-1")
Lookup.to_sql('YearCountry', conn, if_exists = "replace")

In [13]:
#test
df = pd.read_sql('Select * from YearCountry', conn)
df.head()

   index  Year       Country
0      0  1930       Uruguay
1      1  1934         Italy
2      2  1938         Italy
3      3  1950       Uruguay
4      4  1954  West Germany